header
{
  background-color: var(--rg-bg-dark-color);
}

header h1
{
  text-align: center;
  padding: 50px;
}

main
{
  max-width: 1200px;
  margin: auto;

  padding: 10px;
}

#introduction-container
{
  padding: 10px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 10px;
}

#introduction-text
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
}

#introduction ul li::marker
{
  content: "■ ";
}

#introduction-img-container
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 350px;

  /* max-width: 400px; */

  display: flex;
  align-items: center;
  justify-items: center;
}

#introduction-img-container > img
{
  margin-top: -30px;

  max-width: 100%;
  width: auto;

  /* width: 20%; */

  /* height: auto;
  max-width: 350px; */
}

.cards-container
{
  padding: 10px;

  display: grid;

  justify-content: space-between;
  gap: 10px;
}

.card
{
  background-color: var(--bs-dark);
  border: none;
  border-radius: 5px;

  padding: 10px;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 350px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  flex-wrap: wrap;
  flex-direction: row;
}

.card img
{
  margin: auto;

  flex-grow: 150px;
  flex-shrink: 1;
  flex-basis: 150px;

  max-width: 180px;
}

.card div
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}

.card-tags
{
  padding: 10px 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 10px;
}

/* #leslie-card
{
  grid-row: 1; 
  grid-column: 1;
}

#leo-card
{
  grid-row: 1; 
  grid-column: 2;
}

#fer-card
{
  grid-row: 1; 
  grid-column: 3;
}

#diego-card
{
  grid-row: 1; 
  grid-column: 4;
} */

/* @media (max-width: 1000px)
{
  #leslie-card
  {
    grid-row: 1; 
    grid-column: 1;
  }
  
  #leo-card
  {
    grid-row: 1; 
    grid-column: 2;
  }
  
  #fer-card
  {
    grid-row: 2; 
    grid-column: 1;
  }
  
  #diego-card
  {
    grid-row: 2; 
    grid-column: 2;
  }
} */

#leslie-card
{
  grid-row: 1; 
  grid-column: 1;
}

#leo-card
{
  grid-row: 2; 
  grid-column: 1;
}

#fer-card
{
  grid-row: 3; 
  grid-column: 1;
}

#diego-card
{
  grid-row: 4; 
  grid-column: 1;
}