header{
  background-color: var(--rg-bg-dark-color);
  text-align: center;
  padding: 25px;
  padding-bottom: 30px;
  margin-top: -170px;
}

header img{
  position: relative;
  max-width: 400px;
  margin: auto;
  opacity: 0.4;
  right: 130px;
  top: 170px;
}

#title-container
{
  max-width: 310px;
  text-align: justify;
  position: relative;
  margin: auto;
  top: -150px;
  left: 120px;
}

#title-container h1
{
  font-size: 100px;
}

#title-container h2
{
  margin-left: 50px;
}

main{
  padding: 50px;
}

section{
  max-width: 1200px;
  margin: auto;
}

section p{
  text-align: justify;
}

@media (max-width: 700px)
{
  #title-container
  {
    left: 40px;
  }
}