header
{
  background-color: var(--rg-bg-dark-color);
}

header h1
{
  text-align: center;
  padding: 50px;
}

main
{
  text-align: center;
  padding: 50px;
  min-height: 600px;
}

.rule-container
{
  margin: auto;
  max-width: 1200px;
}

.rule-container ul
{
  padding: 0px;
}

.rule-container li
{
  background-color: var(--rg-transparent-dark-color);
  margin-bottom: 25px;
  padding: 20px;
  /* border-left: 5px solid rgb(111, 66, 193); */
  border-radius: 5px;

  min-height: 80px;
}

.rule-container li{
  font-size: large;
}

li::marker
{
  content: "";
}

#about-rule-t1{
  text-align: left !important;
  font-size: small;
  text-align: center;
}

#accept-btn{
  min-width: 150px;
}

#accept-btn input{
  margin-right: 5px;
}

#accept-btn input :hover{
  cursor: pointer;
}

.bottom-container{
  margin: auto;
  max-width: 1200px;
  text-align: right;
}

@media (max-width: 700px)
{
  main
  {
    padding: 20px;
  }

  .rule-container li{
    font-size: medium;
  }
}